.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Sidebar {
  width: 340px;
  height: 100%;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

#map-container {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - 400px);
}

#map {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}