.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Sidebar {
  width: 340px;
  height: 100%;
}

.Sidebar ul {
  padding: 0;
  color: white;
}

.Sidebar ul li {
  list-style: none;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #23d423;
  margin: 10px;
}

.Sidebar ul li:hover {
  box-shadow: 0 0 20px #60ff60;
  color: #60ff60;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #203d40;
    font-size: 17px;
    margin: 0;
}

#breadcrumb h2 {
  color: #23d423;
}

#map-container {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - 400px);
}

#map {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}